* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*忽略边框的盒装模型*/
}

body {
    background: #f5f5f5;

}

a {
    text-decoration: none;
    outline: none;
}

ul {
    list-style-type: none;
}


/* 组件header里的Css样式 */
.header {
    background: #fff;
    min-width: 1100px;
}
.top-color{
    background-color: #fff;
    min-width: 1100px;
}

.top {
    width: 1100px;
    height: 50px;
    margin: 0 auto;
    background-color: #fff;
}

.top-center {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    /*居中对齐*/
    align-items: center;
    /*居中对齐*/
}

.logo {
    width: auto;
    height: 100%;
    margin-top: 5px;
}

.search {
    width: 800px;
    overflow: hidden;
    display: flex;
    margin-left: 300px;
    min-width: 400px;
    margin-top: 10px;
}

.input {
    width: 342px;
    overflow: hidden
}

.top-a {
    text-decoration: none;
    outline: none;
    color: #333;
    margin: 5px;
}

.user {
    width: 100%;
    margin-left: 200px;
    margin-top: 10px;
}

.top-input {
    width: 600px;
}

.top-button {}


.el-menu--horizontal {
    background: #79bbff;
    height: 48px;
}

.el-menu-item:nth-child(1) {
    margin-left: 260px;
}

.footer {
    height: 100px;
    text-align: center;
}

.footer-line {
    border-bottom: 2px solid #c3dfea;
    height: 100px;

    margin: auto 400px;
}

.footer-content {}

.footer-content>p {
    font-size: 5px;
    color: #b2b2b2;
}



/* Nav的Css样式 */
.el-menu-item:nth-child(1) {
    margin: 0;
}

.Nav {
    width: 1100px;
    margin: 0 auto;
}

.Nav-center {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #79bbff;
}

.Nav-color {
    background-color: #79bbff;
}